<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решить квадратное неравенство онлайн</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header-footer" style="margin-bottom: 1%;">
        <h1 style="margin-left: 1%; margin-top: 1%;">Решить квадратное неравенство онлайн</h1>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="header-footer" style="margin-top: 1%;">
        {% block back %}
        {% endblock %}
    </footer>
</body>
</html>